mean_unmatch =  1600.0000 C L(200 - 1500) 
sigma_unmatch =  50.0000  C L(1 - +INF) 
alpha_unmatch =  1.0000   C L(-INF - +INF) 
n_unmatch =  .3000        C L(0 - 20) 
machfrac =  0.999         C  L(0 - 1) 

mean_match =  1600.0000  L(1200 - 2000) 
sigma_match = 50.0000    L(45 - 60) 
width_match =  1.0000    L(0 - 1000) 
alpha1_match =  2.0000   L(0.01 - 5.0) 
alpha2_match =  3.0000   L(0.01 - 4.0) 
n1_match = 1.0000        L(0 - 10) 
n2_match = 2.0000        L(0 - 10) 
