mean_unmatch =  1500.0000   L(500 - 2000) 
sigma_unmatch =  120.0000  L( 1  - +INF) 
alpha_unmatch =  1.5000   L(0 - +INF) 
n_unmatch =  .0300   L(0 - 20) 
machfrac =  0.98   L(0 - 1) 

mean_match =  1500.0000   L(400 - 2000) 
sigma_match = 50.0000   L(1 - 1000) 
width_match =  1.0000    C L(0 - 1000) 
alpha1_match =  2.0000   L(0 - +INF) 
alpha2_match =  2.0000   L(0 - +INF) 
n1_match = 1.0000        L(0 - 20) 
n2_match = 1.0000        L(0 - 20) 
