mean_unmatch =  700.0000 C L(200 - 1000) 
sigma_unmatch =  100.0000  C L(1 - +INF) 
alpha_unmatch =  -1.0000   C L(-INF - 0) 
n_unmatch =  1.000        C L(0 - 20) 
machfrac =  0.500         C  L(0 - 1) 

mean_match =  700.0000  L(650 - 750) 
sigma_match = 30.0000    L(1 - 50) 
width_match =  1.0000    L(0 - 1000) 
alpha1_match =  2.0000   L(1.0 - 5) 
alpha2_match =  2.0000   L(1.0 - 5) 
n1_match = 1.0000        L(0.5 - 10) 
n2_match = 2.0000        L(0.5 - 7) 
