mean_unmatch =   400.0000   L(200 - 1000) 
sigma_unmatch =  100.0000   L(0 - +INF) 
alpha_unmatch =  1.0000   L(0.1 - +INF) 
n_unmatch     =  1.0000   L(0.1 - 2) 

machfrac =  0.5000  L(0 - 1) 

mean_match =  1000.0000  L(800 - 2000) 
sigma_match = 80.0000    L(1 - 1000) 
width_match =  1.0000    C L(0 - 1000) 
alpha1_match =  2.000    L(0.5 - +INF) 
alpha2_match =  3.4000   L(0.5 - +INF) 
n1_match = .3000         L(0.1 - 20) 
n2_match = 6.0000        L(0.1 - 20) 

