mean_unmatch =  1000.0000 C L(200 - 1500) 
sigma_unmatch =  50.0000  C L(1 - +INF) 
alpha_unmatch =  1.0000   C L(-INF - +INF) 
n_unmatch =  .3000        C L(0 - 20) 
machfrac =  0.999         C  L(0 - 1) 

mean_match =  1010.0000  L(900 - 1100) 
sigma_match = 35.0000    L(20 - 60) 
width_match =  1.0000    L(0 - 1000) 
alpha1_match =  2.00   L(1.0 - 4.0) 
alpha2_match =  2.00   L(1.0 - 4.0) 
n1_match = 2.000        L(1 - 5) 
n2_match = 2.000        L(1 - 5) 
