mean_unmatch =  1500.0000 C L(200 - 1500) 
sigma_unmatch =  50.0000  C L(1 - +INF) 
alpha_unmatch =  1.0000   C L(-INF - +INF) 
n_unmatch =  .3000     C L(0 - 20) 
machfrac =  0.999    C L(0 - 1) 

mean_match =  1500.0000   L(1450 - 1550) 
sigma_match = 42.0000   L(25 - 70) 
width_match =  1.0000    L(0 - 1000) 
alpha1_match =  2.0000   L(0 - 5) 
alpha2_match =  2.0000   L(0 - 5) 
n1_match = 1.5000        L(0.5 - 5) 
n2_match = 2.0000        L(0.5 - 5) 
