mean_unmatch =  1500.0000  L(200 - 2000) 
sigma_unmatch =  100.0000  L(-INF - +INF) 
alpha_unmatch =  1.0000  C L(-INF - +INF) 
n_unmatch =  1.0000  C L(-INF - +INF) 
machfrac =  0.999   L(0 - 1) 

mean_match =  1500.0000   L(400 - 2000) 
sigma_match = 100.0000   L(1 - 1000) 
width_match =  1.0000    L(0 - 1000) 
alpha1_match =  1.0000   L(0 - +INF) 
alpha2_match =  1.0000   L(0 - +INF) 
n1_match = 1.0000        L(0 - 20) 
n2_match = 1.0000        L(0 - 20) 
