mean_unmatch =  500.0000 C L(200 - 1000) 
sigma_unmatch =  80.0000  C L(1 - +INF) 
alpha_unmatch =  -1.0000   C L(-INF - 0) 
n_unmatch =  1.000        C L(0 - 20) 
machfrac =  0.800         C  L(0 - 1) 

mean_match =  610.0000  L(550 - 660) 
sigma_match = 17.0000    L(12 - 25) 
width_match =  1.0000    L(0 - 1000) 
alpha1_match =  3.0000   L(2.5 - 5) 
alpha2_match =  2.0000   L(1.5 - 5) 
n1_match = 2.0000        L(0.5 - 10) 
n2_match = 2.0000        L(0.5 - 10) 
