mean_unmatch =  1200.0000 C L(200 - 1500) 
sigma_unmatch =  50.0000  C L(1 - +INF) 
alpha_unmatch =  1.0000   C L(-INF - +INF) 
n_unmatch =  .3000     C L(0 - 20) 
machfrac =  0.999    C L(0 - 1) 

mean_match =  1210.0000   L(800 - 1600) 
sigma_match = 35.0000   L(20 - 50) 
width_match =  1.0000    L(0 - 1000) 
alpha1_match =  1.5000   L(0 - 4) 
alpha2_match =  1.5000   L(0 - 4) 
n1_match = 2.0000        L(0 - 4) 
n2_match = 2.0000        L(0 - 4) 
