mean_unmatch =  1700.0000 C L(200 - 1500) 
sigma_unmatch =  50.0000  C L(1 - +INF) 
alpha_unmatch =  1.0000  C L(-INF - +INF) 
n_unmatch =  .3000    C L(0 - 20) 
machfrac =  0.999    C L(0 - 1) 

mean_match =  1700.0000   L(1600 - 1750) 
sigma_match = 60.0000   L(45 - 85) 
width_match =  1.0000    L(0 - 1000) 
alpha1_match =  2.0000   L(1.6 - 5.0) 
alpha2_match =  2.0000   L(1.6 - 5.0) 
n1_match = 1.7000        L(0.8 - 5) 
n2_match = 2.0000        L(0.8 - 5) 