mean_unmatch =  1900.0000 C L(200 - 1500) 
sigma_unmatch =  50.0000  C L(1 - +INF) 
alpha_unmatch =  1.0000   C L(-INF - +INF) 
n_unmatch =  .3000        C L(0 - 20) 
machfrac =  0.999       C L(0 - 1) 

mean_match =  1910.0000   L(1800 - 2000) 
sigma_match = 70.0000   L(60 - 85) 
width_match =  1.0000    L(0 - 1000) 
alpha1_match =  2.2000   L(1.7 - 5) 
alpha2_match =  3.0000   L(1.7 - 5) 
n1_match = 2.5000        L(1.8 - 5) 
n2_match = 2.0000        L(1.0 - 5) 
