mean_unmatch =  2000.0000 C L(200 - 1500) 
sigma_unmatch =  60.0000  C L(1 - +INF) 
alpha_unmatch =  1.0000   C L(-INF - +INF) 
n_unmatch =  .3000        C L(0 - 20) 
machfrac =  0.999         C  L(0 - 1) 

mean_match =  2310.0000  L(2250 - 2350) 
sigma_match = 92.5000    L(91 - 94) 
width_match =  1.0000    L(0 - 1000) 
alpha1_match =  1.500   L(1.2 - 1.7) 
alpha2_match =  1.6000   L(1.4 - 1.8) 
n1_match = 1.8000        L(1.6 - 1.9) 
n2_match = 1.8000        L(1.5 - 2.1) 
