mean_unmatch =  1400.0000 C L(200 - 1500) 
sigma_unmatch =  50.0000  C L(1 - +INF) 
alpha_unmatch =  1.0000  C L(-INF - +INF) 
n_unmatch =  .3000     C L(0 - 20) 
machfrac =  0.999   C L(0 - 1) 

mean_match =  1410.0000  L(1350 - 1450) 
sigma_match = 50.0000   L(40 - 65) 
width_match =  1.0000    L(0 - 1000) 
alpha1_match =  1.9000    L(1.5 - 3) 
alpha2_match =  2.000    L(1.5 - 3) 
n1_match = 1.900         L(1.4 - 4) 
n2_match = 1.000         L(0.2 - 3) 
