mean_unmatch =  2000.0000 C L(200 - 1500) 
sigma_unmatch =  60.0000  C L(1 - +INF) 
alpha_unmatch =  1.0000   C L(-INF - +INF) 
n_unmatch =  .3000        C L(0 - 20) 
machfrac =  0.999         C  L(0 - 1) 

mean_match =  2520.0000  L(2450 - 2600) 
sigma_match = 112.0000    L(105 - 115) 
width_match =  1.0000    L(0 - 1000) 
alpha1_match =  1.8000   L(1.4 - 3) 
alpha2_match =  1.8000   L(1.4 - 3) 
n1_match = 1.8000        L(1.2 - 4) 
n2_match = 1.8000        L(1.2 - 4) 
