mean_unmatch =  1400.0000 C L(200 - 1500) 
sigma_unmatch =  50.0000  C L(1 - +INF) 
alpha_unmatch =  1.0000  C L(-INF - +INF) 
n_unmatch =  .3000     C L(0 - 20) 
machfrac =  0.999   C L(0 - 1) 

mean_match =  1410.0000  L(1350 - 1450) 
sigma_match = 37.0000   L(30 - 60) 
width_match =  1.0000    L(0 - 1000) 
alpha1_match =  1.7000    L(0.1 - 5) 
alpha2_match =  2.8000    L(00.1 - 10) 
n1_match = 1.700         L(1 - 6) 
n2_match = 1.5000         L(1 - 6) 
