mean_unmatch =  2000.0000 C L(200 - 1500) 
sigma_unmatch =  60.0000  C L(1 - +INF) 
alpha_unmatch =  1.0000   C L(-INF - +INF) 
n_unmatch =  .3000        C L(0 - 20) 
machfrac =  0.999         C  L(0 - 1) 

mean_match =  2020.0000  L(1800 - 2200) 
sigma_match = 58.0000    L(40 - 70) 
width_match =  1.0000    L(0 - 1000) 
alpha1_match =  1.7000   L(1.0 - 4) 
alpha2_match =  1.7000   L(1.0 - 4) 
n1_match = 1.8000        L(0.5 - 5) 
n2_match = 1.8000        L(0.5 - 5) 
